# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# debug files
vgcore.*

# Executables
*.exe
*.out
*.app

#folder buidl
build
.vscode
r-type_server
r-type_client

# tests files
assets
src/game/client/*
